<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	backgroundColor="rgba(255,255,255,1)"

>
  <image imageURL="images/001.jpg"
	thumbURL="thumbs/001.jpg"
	linkURL="images/001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\donovan\Dropbox\Apps\KISSr\donovanbrown.kissr.com\images\001.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[A commission for a good buddy of mine, he wanted picture of himself one half good side and one half evil side.]]></caption>
  </image>
  <image imageURL="images/002.jpg"
	thumbURL="thumbs/002.jpg"
	linkURL="images/002.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\donovan\Dropbox\Apps\KISSr\donovanbrown.kissr.com\images\002.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[A commission of my buddy in title-like 2D video game graphic form.]]></caption>
  </image>
  <image imageURL="images/003.jpg"
	thumbURL="thumbs/003.jpg"
	linkURL="images/003.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\donovan\Dropbox\Apps\KISSr\donovanbrown.kissr.com\images\003.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[A picture of me in a bizarre gothic fantasy style.]]></caption>
  </image>
  <image imageURL="images/004.jpg"
	thumbURL="thumbs/004.jpg"
	linkURL="images/004.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\donovan\Dropbox\Apps\KISSr\donovanbrown.kissr.com\images\004.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[A picture for one of my best friends who is avid bunny lover.]]></caption>
  </image>
  <image imageURL="images/005.jpg"
	thumbURL="thumbs/005.jpg"
	linkURL="images/005.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\donovan\Dropbox\Apps\KISSr\donovanbrown.kissr.com\images\005.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[A profile picture that inspired the "Marc Destroyer of worlds pic".]]></caption>
  </image>
  <image imageURL="images/006.jpg"
	thumbURL="thumbs/006.jpg"
	linkURL="images/006.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\donovan\Dropbox\Apps\KISSr\donovanbrown.kissr.com\images\006.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[A commission for my friend who is a Burlesque Dancer.]]></caption>
  </image>
  <image imageURL="images/007.jpg"
	thumbURL="thumbs/007.jpg"
	linkURL="images/007.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\donovan\Dropbox\Apps\KISSr\donovanbrown.kissr.com\images\007.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Fan art piece of my favorite Disney movie of all time. (c) Disney.]]></caption>
  </image>
  <image imageURL="images/008.png"
	thumbURL="thumbs/008.jpg"
	linkURL="images/008.png"
	linkTarget="_blank"
	sourcePath="C:\Users\donovan\Dropbox\Apps\KISSr\donovanbrown.kissr.com\images\008.png">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Mascot version of myself from my first draft website.]]></caption>
  </image>
</juiceboxgallery>